{# Uses page variable: filter.education #}
{# Uses data store: education.programs #}
{% set educationFilter = filter.education if filter and filter.education else "all" %}
{% set educationFiltered = education.programs | identifyHighlights(educationFilter) %}

<div class="section-header">
  <h2>Education</h2>
  {% if educationFiltered | hasLowlights %}
    {% include "components/resume/highlight-icon.njk" %}
  {% endif %}
</div>
<ul class="programs">
  {% for program in educationFiltered | sortHighlightsFirst %}
    {% include "components/resume/education.njk" %}
  {% endfor %}
</ul>
