<h1 aria-label="Marissa Staib">
  <ruby id="firstname">
    <rb id="firstname">Mari</rb>
    <rp>（</rp><rt lang="jp">マリ</rt><rp>）</rp>
  </ruby>
  <ruby class="fullname">
    <rb>ssa</rb>
    <rp>（</rp><rt lang="jp">ッサ</rt><rp>）</rp>
  </ruby>
  &nbsp;
  <ruby class="lastname">
    <rb>Staib</rb>
    <rp>（</rp><rt lang="jp">ステーブ</rt><rp>）</rp>
  </ruby>
</h1>
<h2>software engineer</h2>
<div class="buttons">
  <button id="print">
    <img src="/img/print.svg" aria-hidden="true">
    Print
  </button>
  {% include "components/resume/show-hide-toggle.njk" %}
</div>
