<img
    class="highlight-icon"
    src="/img/spotlights.svg"
    alt="Showing highlights only. Click Show All (in the header) to show additional (but likely irrelevant) data."
    title="Showing highlights only. Click Show All (in the header) to show additional (but likely irrelevant) data." />
