<button class="show-all"
        aria-label="Show all. (Showing highlights only. Click to show additional (but likely irrelevant) data.)"
        title="Showing highlights only. Click to show additional (but likely irrelevant) data.">
  <img src="/img/spotlights.svg" aria-hidden="true" />
  Show all
</button>
<button class="show-highlights"
        aria-label="Show highlights only. (Showing all data. Click to show only relevant data.)"
        title="Showing all data. Click to show only relevant data.">
  <img src="/img/spotlights-dark.svg" aria-hidden="true" />
  Show highlights only
</button>
