<p>Built with <a href="https://www.11ty.io/">Eleventy</a> and served from
<a href="https://github.com">Github</a>
(<a href="{{ pkg.repository.url }}">programmablereya/reyasume</a>) via
<a href="https://www.netlify.com/">Netlify</a>.</p>

<div id="image-credits">
  <button id="image-credits-toggle">Show image credits</button>
  <p>Favicon by <a href="https://twitter.com/snaximation">@snaximation</a>.</p>
  <p>Banner image by <a href="https://twitter.com/edupatilla">@edupatilla</a>.</p>

  <p>Printer, Spotlight, Home, Mail, Phone, WWW, Study, Speech Bubble, Computer,
      Guide, Test, Server, US flag, Japanese flag, and Blocks icons made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>

  <p>Python logo from <a href="https://www.python.org/community/logos/">the Python logo page</a>.</p>
  <p>Java logo from <a href="https://en.wikipedia.org/wiki/File:Java_programming_language_logo.svg">Wikipedia mirror of official logo</a>.</p>
  <p>JavaScript logo from <a href="https://github.com/voodootikigod/logo.js">logo.js</a>.</p>
  <p>TypeScript logo from <a href="https://github.com/remojansen/logo.ts">logo.ts</a>.</p>
  <p>HTML5 logo from the <a href="https://www.w3.org/html/logo/">official site</a>.</p>
  <p>Kotlin logo from the <a href="https://kotlinlang.org/docs/reference/faq.html">official site</a>.</p>
  <p>Go logo from the <a href="https://blog.golang.org/go-brand">official site</a>.</p>
  <p>Dart logo from the <a href="https://drive.google.com/corp/drive/folders/1KXNtO9My2AMpDOF9A9Y_4aj4_BcgmDDT">official logo repository</a>.</p>
  <p>C# logo by <a href="https://medium.com/@chris.mckee/c-logo-for-stickers-stuff-bca39b31cba3">Chris McKee</a>.</p>
  <p>Ruby logo by <a href="https://www.ruby-lang.org/en/about/logo/">Yukihiro Matsumoto</a>.</p>
  <p>VB.NET logo from <a href="https://github.com/dotnet/docs/blob/cb475ed45f881e9462e34764480d3b0ebce85e91/docs/images/hub/vb.svg">the open source .NET repository</a>.</p>
  <p>PHP logo from <a href="https://www.php.net/download-logos.php">the PHP site</a>.</p>
  <p>C++ logo by <a href="https://github.com/isocpp/logos">Jeremy Kratz</a>.</p>
  <p>Bash logo from <a href="https://github.com/odb/official-bash-logo">the official repository</a>.</p>
  <p>Rust logo from <a href="https://www.rust-lang.org/policies">the logo page</a>.</p>

  <p>React logo from <a href="https://reactjs.org/">the official site</a>.</p>
  <p>Angular logo from <a href="https://angular.io/presskit">the press kit</a>.</p>
  <p>Rails logo from <a href="https://weblog.rubyonrails.org/2016/1/19/new-rails-identity/">the blog</a>.</p>
  <p>Node logo from <a href="https://nodejs.org/en/about/resources/">the logo page</a>.</p>
  <p>Electron logo from <a href="https://commons.wikimedia.org/wiki/File:Electron_Software_Framework_Logo.svg">the Wikimedia logo of the official logo</a>.</p>
  <p>JQuery logo from <a href="https://www.vectorlogo.zone/logos/jquery/index.html">VectorLogoZone</a>.</p>
  <p>SQLite logo from <a href="https://commons.wikimedia.org/wiki/File:Sqlite-square-icon.svg">the Wikimedia mirror of the official logo</a>.</p>
  <p>PostgreSQL logo from <a href="https://www.postgresql.jp/npo/logo/?searchterm=logo">the PostgreSQL JP site</a>.</p>
  <p>Eleventy logo from <a href="https://11ty.io">the Eleventy site</a>.</p>
  <p>AppEngine logo from <a href="https://favpng.com/png_view/engine-google-app-engine-google-cloud-platform-google-compute-engine-cloud-computing-png/NgfHuMDX">FavPNG</a>.</p>

  <p>Git logo from <a href="https://git-scm.com/downloads/logos">the Git logo page</a>.</p>
  <p>Mercurial logo from <a href="https://www.selenic.com/hg-logo/">the Mercurial logo page</a>.</p>
  <p>SVN logo by <a href="http://svn.apache.org/repos/asf/subversion/svn-logos/logo.html">Tyrus Christiana</a>.</p>
  <p>Gradle logo from <a href="https://gradle.com/brand/">the Gradle logo page</a>.</p>
  <p>Tux image by <a href="https://commons.wikimedia.org/wiki/File:NewTux.svg">Larry Ewing</a>.</p>
  <p>Docker logo from <a href="https://www.docker.com/company/newsroom/media-resources">the Docker media resources</a>.</p>

  <p>RPI seal from <a href="https://scer.rpi.edu/brand-in-action/logos">the logo page</a>.</p>
  <p>ITA logo from <a href="https://www.internationalteflacademy.com/">ITA website</a>.</p>
  <p>Regis seal from <a href="https://www.regis.org/2014/multimedia/seal.cfm">the page on the history of the seal</a>.</p>

  <p>New Bazel logo from <a href="https://blog.bazel.build/2017/07/05/new-logo-and-homepage.html">the official site</a>.</p>
  <p>Old Bazel logo from <a href="https://github.com/bazelbuild/bazel-website/commits/master/images/bazel-logo.svg">the website's Github history</a>.</p>
  <p>Google Wallet logo from <a href="https://commons.wikimedia.org/wiki/File:Google_Wallet_logo.svg">Wikimedia mirror of official logo</a>.</p>
  <p>Google G logo from <a href="https://googleblog.blogspot.com/2015/09/google-update.html">the Google blog</a>.</p>
  <p>Agora Games logo recovered from Google Images backup.</p>
  <p>Star Analytics logo from <a href="https://lsvp.com/portfolio/star-analytics/">the Lightspeed page</a>.</p>
</div>
