<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@{{ metadata.twitter }}" />
<meta property="twitter:title" content="{{ metadata.title }}" />
<meta property="twitter:description" content="{{ metadata.description }}" />
<meta property="twitter:image" content="{{ metadata.url }}{{ metadata.cardimage_path }}" />
