<!doctype html>
<html lang="en">
	{% include "components/head.njk" %}
	<body>
		<main id="page" class="highlight-container">
			{{ layoutContent | safe }}
		</main>
		<footer>
			{% include "components/footer.njk" %}
		</footer>
	</body>
</html>
